{% extends "base.html" %}

{% block main %}

<h2 class="p-4 text-xl underline font-black">Super Snacks</h2>
<p class="px-4 italic font-medium">Woefully incomplete list of snacks</p>

<ul>
  {% for snack in snacks %}

    <li class="flex-col p-4">
      <h3 class="text-lg font-extrabold">{{snack.name}}</h3>
      <p>{{snack.description}}</p>
      <p><a href="{% url 'snack_detail' snack.pk %}" class="italic underline text-green-600">More Info</a></p>
    </li>

  {% endfor %}
</ul>

{% endblock main %}
