{% extends "base.html" %}

{% block main %}

<div class="flex-col p-4">
  <form method="post">
    {% csrf_token %}
    <p>Are you sure you want to remove the snack: {{snack.name}}?</p>
    <input type="submit" value="Remove Snack" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 ml-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
  </form>
</div>

{% endblock main %}
